@import "../../../StyleGuide";

.widget {
  @include sectionSpaceStyle;
  margin-left: 0;
  top: 80px;
  position: sticky;
  flex: 0.25;
  height: fit-content;
  text-align: center;
  background: rgb(204, 203, 203);
}
