@import "../../../StyleGuide";

.widget {
  position: sticky;
  top: 80px;
  @include sectionSpaceStyle;
  margin-left: 0;
  flex: 0.2;
  .widget__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: $paddingNormal;

    h2 {
      font-size: $fontNormal;
      font-weight: 400;
    }
  }
}
