@import "../../../StyleGuide";

.post {
  background: $clr-offWhite;
  border-radius: $mediumRad;
  margin-bottom: $marginLarge;
  padding: $paddingNormal;

  .post__header {
    display: flex;
    margin-bottom: $marginNormal;

    .post__info {
      margin-left: $marginNormal;

      h2 {
        font-size: $fontNormal;
      }
      p {
        color: $clr-grey;
        font-size: $fontSmall;
      }
    }
  }

  .post__body {
    .post__message {
      overflow-wrap: break-word;
      font-size: $fontNormal;
      padding-left: $paddingNormal;
    }

    .post__buttons {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
