@import "../../../StyleGuide";
.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  position: sticky;
  border-bottom: 0.5px solid $clr-border;
  height: 50px;
  padding: 0.5rem;
  z-index: 999;
  background: $clr-offWhite;

  .header__left {
    display: flex;
    align-items: center;

    .header__search {
      position: relative;
      padding: 10px;
      display: flex;
      align-items: center;
      height: 28px;
      color: $clr-grey;
      border-radius: $smallRad;
      background-color: $clr-lightBlue;

      i {
        font-size: $fontSmall;
        position: absolute;
        left: 1rem;
      }

      input[type="text"] {
        outline: none;
        background: none;
        height: 2.8rem;
        border: none;
        padding-left: 2rem;
      }
    }

    img {
      object-fit: contain;
      height: 28px;
      margin-right: 1rem;
    }
  }
}

.header__right {
  display: flex;
  position: relative;
  align-items: center;
  place-items: space-between;
}
