@import "../../../StyleGuide";

.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 2rem;
  height: 100%;
  color: $clr-grey;
  margin-bottom: -1rem;
  cursor: pointer;
  height: 40px;
  transition: color $aniSpeed;

  &:hover {
    color: black;
  }

  .headerOption__icon {
    font-size: 1rem;
    margin-bottom: -0.25rem;
    object-fit: contain;
    width: 18px;
    height: 18px;
  }
  // .headerOption__avatar {
  //   // width: 18px;
  //   // height: 18px;
  // }

  .headerOption__title {
    font-weight: 400;
    font-size: 1.2rem;
    // font-size: $fontSmall;
  }
}
