html,
body {
  font-size: 62.5%;
  width: 100vw !important;
  min-width: 400px !important;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
  .app__body {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .headerOption {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    width: 100%;
    top: 0px;
    position: relative;
  }
  .feed {
    width: 100%;
    padding: 0 !important;
  }
  .feed .feed__inputContainer {
    padding: auto 0 !important;
  }
  .feed .inputOption {
    font-size: lrem;
    margin: 1.5rem 0.5rem 0.25rem 0.5rem !important;
    padding: 5px 5px;
  }
  .post {
    margin: 1rem;
  }
  .widget {
    top: 0px;
    position: relative;
    width: 100%;
    margin: 0 !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fafafa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a66c2;
}

.sidebar {
  margin: 2rem 0.25rem;
  border-radius: 10px;
  margin-left: 0;
  top: 80px;
  position: sticky;
  flex: 0.25;
  height: fit-content;
  text-align: center;
}

.sidebar .sidebar__top {
  align-items: center;
  background: #fafafa;
  border: 1px solid lightgrey;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.sidebar .sidebar__top h2 {
  font-size: 1.8rem;
}

.sidebar .sidebar__top h4 {
  font-size: 1.2rem;
  color: #5c5c5c;
  padding: 0 1rem;
}

.sidebar .sidebar__top .sidebar__banner {
  margin-bottom: -2rem;
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sidebar .sidebar__top .sidebar__avatar {
  margin-bottom: 0.5rem;
}

.sidebar .sidebar__stats {
  margin-bottom: 0.25rem;
  background: #fafafa;
  border: 1px solid lightgrey;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar .sidebar__stats .sidebar__stat {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.sidebar .sidebar__stats .sidebar__stat p {
  font-size: 1.4rem;
  color: #5c5c5c;
  font-weight: 600;
}

.sidebar .sidebar__stats .sidebar__stat .sidebar__statNumber {
  font-weight: bold;
  color: #0a66c2;
}

.sidebar .sidebar__bottom {
  color: black;
  font-weight: bold;
  background: #fafafa;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  text-align: left;
  font-size: 1.4rem;
}

.sidebar .sidebar__bottom p {
  margin-bottom: 0.25rem;
}

.sidebar .sidebar__bottom .sidebar__recent {
  color: #5c5c5c;
  cursor: pointer;
  display: flex;
  margin: 0.25rem 0;
  transition: color 0.25s ease-in-out;
}

.sidebar .sidebar__bottom .sidebar__recent:hover {
  background: #ebebeb;
  color: black;
  border-radius: 10px;
}

.sidebar .sidebar__bottom .sidebar__recent .sidebar__hash {
  margin: 0 0.5rem;
}
/*# sourceMappingURL=sidebar.css.map */