@import "../../../StyleGuide";

.sidebar {
  @include sectionSpaceStyle;
  margin-left: 0;
  top: 80px;
  position: sticky;
  flex: 0.2;
  height: fit-content;
  text-align: center;

  .sidebar__top {
    align-items: center;
    background: $clr-offWhite;
    border: 1px solid $clr-border;
    border-bottom: 0;
    border-top-left-radius: $mediumRad;
    border-top-right-radius: $mediumRad;
    display: flex;
    flex-direction: column;
    padding-bottom: $paddingNormal;

    h2 {
      font-size: 1.8rem;
    }
    h4 {
      font-size: 1.2rem;
      color: $clr-grey;
      padding: 0 $paddingNormal;
    }

    .sidebar__banner {
      margin-bottom: -$marginLarge;
      width: 100%;
      height: 60px;
      object-fit: cover;
      border-top-left-radius: $mediumRad;
      border-top-right-radius: $mediumRad;
    }
    .sidebar__avatar {
      margin-bottom: $marginMedium;
    }
  }

  .sidebar__stats {
    margin-bottom: $marginSmall;
    background: $clr-offWhite;
    border: 1px solid $clr-border;
    padding: $paddingNormal;
    border-bottom-left-radius: $mediumRad;
    border-bottom-right-radius: $mediumRad;
    .sidebar__stat {
      margin-top: $marginNormal;
      display: flex;
      justify-content: space-between;
      p {
        font-size: $fontSmall;
        color: $clr-grey;
        font-weight: 600;
      }

      .sidebar__statNumber {
        font-weight: bold;
        color: $clr-blueMain;
      }
    }
  }

  .sidebar__bottom {
    color: black;
    font-weight: bold;
    background: $clr-offWhite;
    padding: $paddingNormal;
    border: 1px solid $clr-border;
    border-radius: $mediumRad;
    text-align: left;
    font-size: $fontSmall;
    p {
      margin-bottom: $marginSmall;
    }

    .sidebar__recent {
      color: $clr-grey;
      cursor: pointer;
      display: flex;
      margin: $marginSmall 0;
      transition: color $aniSpeed;

      &:hover {
        background: $clr-lightgrey;
        color: black;
        border-radius: $mediumRad;
      }

      .sidebar__hash {
        margin: 0 $marginMedium;
      }
    }
  }
}
