@import "./StyleGuide";
.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background: pink;
  height: 50px;

  .header__left {
    display: flex;
    align-items: center;

    .header__search {
      padding: 10px;
      display: flex;
      align-items: center;
      height: 28px;
      color: $clr-grey;
      border-radius: $smallRad;
      background-color: $clr-lightBlue;

      i {
        font-size: $fontSmall;
        position: absolute;
        left: 5rem;
      }

      input[type="text"] {
        position: relative;
        outline: none;
        background: none;
        height: 2.8rem;
        border: none;
        padding-left: 2rem;
      }
    }

    img {
      object-fit: contain;
      height: 28px;
      margin-right: 1rem;
    }
  }
}

.header__right {
  display: flex;
  place-items: space-between;
}
