html {
  font-size: 62.5%;
}
//------------------------
$fontNormal: 1.6rem;
$fontSmall: 1.2rem;

//colors

$clr-grey: rgb(139, 136, 136);
$clr-lightgrey: rgb(238, 238, 238);
$clr-lightBlue: #eef3f8;
$clr-offWhite: rgb(250, 250, 250);
$clr-border: lightgrey;
$clr-blueMain: #0a66c2;

//radius

$smallRad: 5px;
$mediumRad: 10px;

//spacing__padding
$paddingMedium: 0.5rem;
$paddingNormal: 1rem;

//spacing__margins
$marginSmall: 0.25rem;
$marginMedium: 0.5rem;
$marginNormal: 1rem;
$marginLarge: 2rem;

//main app container
.container {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin: 0 auto;
  //   background: red;
}

//animation

$aniSpeed: 0.25s ease-in-out;

//media queries
@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
  }
}

//scroll bar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr-offWhite;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $clr-blueMain;
}
