html {
  font-size: 62.5%;
}
body {
  background: rgba(218, 218, 218, 0.891);
}
//!mixins

@mixin sectionSpaceStyle {
  margin: $marginLarge $marginSmall;
  border-radius: $mediumRad;
}

@mixin specialLinksStyle {
  color: $clr-grey;
  cursor: pointer;
  margin: $marginSmall 0;
  transition: color $aniSpeed;

  &:hover {
    background: $clr-lightgrey;
    color: black;
    border-radius: $mediumRad;
  }
}
//------------------------
$fontNormal: 1.6rem;
$fontSmall: 1.4rem;

//colors

$clr-appbg: rgba(218, 218, 218, 0.891);
$clr-drkgrey: rgb(194, 194, 194);
$clr-grey: rgb(92, 92, 92);
$clr-lightgrey: rgb(235, 235, 235);
$clr-lightBlue: #eef3f8;
$clr-offWhite: rgb(250, 250, 250);
$clr-border: lightgrey;
$clr-blueMain: #0a66c2;

//radius

$smallRad: 5px;
$mediumRad: 10px;

//spacing__padding
$paddingMedium: 0.5rem;
$paddingNormal: 1rem;
$paddingLarge: 2rem;

//spacing__margins
$marginSmall: 0.1rem;
$marginSmall: 0.25rem;
$marginMedium: 0.5rem;
$marginNormal: 1rem;
$marginLarge: 2rem;

//main app container
.container {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin: auto;
  padding: $paddingLarge;
  height: 100%;
  // background: red;
}

//animation

$aniSpeed: 0.25s ease-in-out;

//media queries

@media screen and (max-width: 1230px) {
  .container {
    width: 75vw;
  }
}

@media screen and (max-width: 1015px) {
  .container {
    width: 85vw;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 95vw;
  }
}
@media screen and (max-width: 800px) {
  html {
    overflow-x: hidden;
  }

  //!container- main body
  .container {
    width: 100%;
  }

  .app {
    background: rgba(194, 16, 16, 0.124);
    min-width: 425px;
  }
  .app__body {
    display: flex;
    flex-direction: column;
    // background: red;
    padding-top: 0;
  }

  //!header
  .headerOption {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  //!sidebar
  .sidebar {
    width: 100%;
    top: 0px;
    position: relative;
  }

  //!feed

  .feed {
    width: 100%;
    padding: 0 !important;

    .feed__inputContainer {
      padding: auto 0 !important;
    }

    .inputOption {
      font-size: lrem;
      margin: 1.5rem 0.5rem 0.25rem 0.5rem !important;
      padding: 5px 5px;
    }
  }

  .post {
    margin: 1rem;
  }

  //!widget
  .widget {
    top: 0px;
    position: relative;
    width: 100%;
    margin: 0 !important;
  }
}

//scroll bar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr-offWhite;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $clr-blueMain;
}
