@import "_StyleGuide";

.app {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $clr-lightgrey;
  background-color: $clr-appbg;
  // background: red;

  .app__body {
    display: flex;
    height: fit-content;
    height: 100hv;
    margin-top: $marginLarge;
    // background: rgb(0, 255, 128);
  }
}
