@import "_StyleGuide";

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: $clr-lightgrey;
  background-color: $clr-appbg;

  .app__body {
    height: fit-content;
    height: 100hv;
    height: fit-content;
  }
}
