@import "_StyleGuide";

.app {
  display: flex;
  flex-direction: column;
  // align-items: center; //he did center
  align-items: space-between;
  background-color: $clr-lightgrey;

  .app__body {
    display: flex;
  }
}
